@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

body {
  font-family: "Poppins", sans-serif; /* General body font */
  background-color: #211a2c;
  color: #ffffff;
  overflow-x: hidden;
}